BODY
{
    FONT-FAMILY: Trebuchet MS, Heveletica, sans-serif;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: normal;
    LETTER-SPACING: normal;
    TEXT-TRANSFORM: none;
    WORD-SPACING: normal;
    padding: 0px;
}

a {
	font-family: Trebuchet MS, Heveletica, sans-serif;
	text-decoration: underline;
	color: #444444;
	margin: 0px;
	font-variant: inherit;
	padding: 0px;
}

textarea {
	font-family: Trebuchet MS, Heveletica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	margin: 0px;
}

h1 {
	padding: 0px;
	font-family: Trebuchet MS, Heveletica, sans-serif;
	font-size: 14pt;
	font-weight: bold;
	font-style: normal;
	font-variant: normal;
	text-transform: uppercase;
	color: #000000;
	margin: 0px;
}

h2 {
	font-family: Trebuchet MS, Heveletica, sans-serif;
	font-size: 14pt;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-transform: uppercase;
	color: #000000;
	padding: 0px;
}

p {
    FONT-FAMILY: Trebuchet MS, Heveletica, sans-serif;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: normal;
    LETTER-SPACING: normal;
    TEXT-TRANSFORM: none;
    WORD-SPACING: normal;
    padding: 0px;
}

h3 {
	font-family: Trebuchet MS, Heveletica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	margin: 0px;
	color: #000000;
	padding: 0px;
}

a:hover {
	font-family: Trebuchet MS, Heveletica, sans-serif;
	color:maroon;
	margin: 0px;
	font-variant: inherit;
}

a:active {
	font-family: Trebuchet MS, Heveletica, sans-serif;
	color:red;
	margin: 0px;
	font-variant: inherit;
}
/*
     FILE ARCHIVED ON 21:32:40 Jan 30, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:55:55 Feb 11, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.069
  exclusion.robots.policy: 0.057
  cdx.remote: 0.095
  esindex: 0.01
  LoadShardBlock: 155.515 (6)
  PetaboxLoader3.datanode: 255.568 (7)
  load_resource: 181.74
  PetaboxLoader3.resolve: 62.356
*/